/* =================================== */
/*             PAGE BASE               */
/* =================================== */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    font-family: system-ui, sans-serif;
    display: grid;
    min-height: 100vh;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}

/* Core sizes */

:root {
    --size-01: 0.25rem;
    --size-02: 0.5rem;
    --size-03: 0.75rem;
    --size-04: 1rem;
    --size-05: 1.5rem;
    --size-06: 2rem;
    --size-07: 3rem;
    --size-08: 4rem;
    --size-09: 5rem;
}

/* Button styling */

.cta-button, .contact-submit {
    font-size: var(--size-04);
    font-weight: 400;
    text-transform: uppercase;
    padding: var(--size-05);
    background: #fff;
    border: 1px solid;
    border-radius: var(--size-01);
    transition: .3s;
}

.cta-button:hover {
    background-color: #000;
    color: #fff;
    transition: .3s;
}

/* =================================== */
/*       NAVIGATION - DESKTOP          */
/* =================================== */

/* HEADER */

.primary-header {
    position: relative;
    z-index: 1000;
    padding: var(--size-04);
    background: #F8CDCD;
    box-shadow: 0 4px 2px -2px rgb(0, 0, 0, 0.15);
}

.primary-header .container,
.hero .container,
.about .container,
.contact-page .container {
    --max-width: 1110px;
    --padding: var(--size-04);

    width: min(var(--max-width), 100% - (var(--padding) * 2));
    margin-inline: auto;
}

header img,
header picture,
header svg {
    max-width: 100%;
    display: block;
    height: 30px;
}

ul[role="list"],
ol[role="list"] {
    list-style: none;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    font-size: var(--size-04);
    display: flex;
    gap: clamp(var(--size-01), 5vw, var(--size-06));
}

.nav-list a {
    color: #000;
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.mobile-nav-toggle {
    display: none;
}

/* FOOTER */

footer img,
footer picture,
footer svg {
    display: block;
    width: 100%;
    height: 60px;
}

.footer {
    /* position: relative; */

    bottom: 0;
    width: 100%;
    padding-top: var(--size-06);
    padding-bottom: var(--size-06);
    background: #F8CDCD;
}

.footer .nav-list {
    gap: clamp(var(--size-01), 5vw, var(--size-09));

}

.contact-group {
    text-align: center;
    margin-top: var(--size-06);
    margin-bottom: var(--size-06);
    line-height: var(--size-06);
}

.container-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.credit,
.copy {
    text-align: center;
    display: block;
    margin-top: 35px;
}

.contact-group span,
.contact-group a {
    display: block;
}

.copy {
    margin-top: 0;
}





/* =================================== */
/*                HERO                 */
/* =================================== */

.hero {
    position: relative;
    background-image: url('../images/home/landing-l.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #000;
    color: white;
    padding-top: 20rem;
    padding-bottom: 20rem;
    width: 100%;
    z-index: 7;
}

.hero::before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: .35;
    top: 0;
    left: 0;
    z-index: -1;
}

.hero .container {
    padding-top: 5rem;
    padding-bottom: 5rem;
    text-align: left;
}

.heroText {
    padding-bottom: 2rem;
}

#heroH {
    font-size: min(12vw, var(--size-09));
    font-weight: 700;
}

/* =================================== */
/*              SERVICES               */
/* =================================== */

.services {
    padding: var(--size-09);
    text-align: center;
}

.services .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--size-01);

    /* width: 100%; */
    margin-bottom: var(--size-07);
}

.card {
    border-radius: var(--size-02);
    width: 30%;
}

.services .container {
    max-width: 78vw;
    margin: auto;
    padding-top: var(--size-06);
}

.services .container img {
    display: block;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.serviceText {
    text-align: center;
    padding: var(--size-05);
    font-size: var(--size-05);
    border-radius: 0 0 var(--size-02) var(--size-02);
    border: 1px solid #d8d8d8;
    text-transform: uppercase;
}


/* =================================== */
/*              ABOUT US               */
/* =================================== */

.about {
    padding: var(--size-09);
    background: #F8CDCD;
}

.about .container {
    display: flex;
    gap: var(--size-04);
}

.about-img img {
    width: 20vw;
    display: block;
    box-shadow: 0 4px 2px -2px rgb(0, 0, 0, 0.15);
}

.about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-content .cta-button {
    align-self: flex-start;
}

.hTitle {
    font-size: var(--size-07);
    font-weight: 600;
}

.about-content p {
    font-size: var(--size-05);
    line-height: 2;
}

.hTitle,
.about-content p {
    margin-bottom: var(--size-07);

}

/* ================================== */
/*              GALLERY               */
/* ================================== */

.gallery {
    padding: var(--size-09);
    text-align: center;
}

.gallery .row {
    display: flex;
    justify-content: center;
    gap: var(--size-01);
    margin-bottom: var(--size-07);

}

.gallery .container img {
    display: block;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    width: 100%;
}


/* ======================================= */
/*              TESTIMONIALS               */
/* ======================================= */

.testimonials {
    padding: var(--size-09);
    text-align: center;
    background: #F8CDCD;

}

.testimonials .container {
    display: flex;
    flex-wrap: wrap;
    gap: var(--size-05);
    justify-content: center;
    margin-bottom: var(--size-07);

}

.review-card {
    display: flex;
    flex-direction: column;
    max-width: 30rem;
    padding: var(--size-06);
    box-shadow: 0 4px 2px -2px rgb(0, 0, 0, 0.15);
    border: 1px solid #d8d8d8;
    width: 100%;
    text-align: left;
    border-radius: 0.3125em;
    position: relative;
    background: #fff;
    display: flex;
    flex-direction: column;
}

.review-card p {
    font-size: var(--size-05);
    margin-bottom: var(--size-05);
}

.reviewer {
    border-top: 1px solid #dfdddd;
    padding-top: var(--size-06);
    margin-top: auto;
    font-size: var(--size-05);
}

.reviewer span {
    display: block;

}

.name {
    font-weight: 700;
}

/* ========================================= */
/*              CALL TO ACTION               */
/* ========================================= */

.cta {
    padding: var(--size-09);
}

.cta .container {
    display: flex;
    justify-content: space-around;
    border: 1px solid;
    border-radius: var(--size-01);
    width: 60vw;
    padding: var(--size-09);
    box-shadow: 0 4px 2px -2px rgb(0, 0, 0, 0.15);
    margin: auto;
}

.cta-left {
    max-width: 30rem;
}

.cta-right span {
    display: block;
    font-size: var(--size-06);
    margin-bottom: var(--size-06);
}

.cta-right p {
    font-size: var(--size-05);
    line-height: 2;
}

/* ======================= */
/*          MOBILE         */
/* ======================= */



@media (max-width: 50em) {

    /* ==================================== */
    /*          NAVIGATION - MOBILE         */
    /* ==================================== */
    .primary-navigation {
        position: fixed;
        padding: var(--size-06);
        inset: var(--size-09) var(--size-04) auto;
        top: var(--size-08);
        border-radius: var(--size-01);
        box-shadow: 0 4px 2px -2px rgb(0, 0, 0, 0.15);
        transform: translateY(-150%);
        transition: 500ms ease;
        margin-left: -1rem;
        width: 100%;
    }

    .nav-list {
        display: grid;
        gap: var(--size-05);
        text-align: center;
        font-weight: 700;
    }

    .primary-navigation[data-visible] {
        position: fixed;
        transform: translateY(0%);
        transition: 500ms ease;
        background: #fff;
    }

    .mobile-nav-toggle {
        display: block;
        cursor: pointer;
        background: transparent;
        border: 0;
        padding: var(--size-02);
    }

    .inactive {
        display: none;
    }

    .active {
        display: block;
    }

    /* ============================== */
    /*          HERO - MOBILE         */
    /* ============================== */
    .hero {
        padding-top: 5.8rem;
        padding-bottom: 5.8rem;
    }

    .hero .container {
        padding-top: 0;
        padding-bottom: 0;
    }

    /* ================================== */
    /*          SERVICES - MOBILE         */
    /* ================================== */
    .services {
        padding-left: 0;
        padding-right: 0;
    }

    .services .row {
        flex-direction: column;
        gap: var(--size-04);
    }

    .card {
        width: 100%;
    }

    /* =============================== */
    /*          ABOUT - MOBILE         */
    /* =============================== */

    .about {
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }

    .about-img img {
        display: none;
    }

    .about-content .cta-button {
        align-self: center;
    }

    /* ================================= */
    /*          GALLERY - MOBILE         */
    /* ================================= */

    .gallery {
        padding-left: 0;
        padding-right: 0;
    }

    .gallery .row {
        flex-direction: column;
        gap: var(--size-04);
    }

    /* ====================================== */
    /*          TESTIMONIALS - MOBILE         */
    /* ====================================== */

    .testimonials {
        padding-left: 0;
        padding-right: 0;
    }

    .testimonials .container {
        flex-direction: column;
        align-items: center;
    }

    /* ======================================== */
    /*          CALL TO ACTION - MOBILE         */
    /* ======================================== */
    .cta {
        padding-left: 0;
        padding-right: 0;
    }

    .cta .container {
        flex-direction: column;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        width: 100vw;
    }

    .cta-left {
        margin: auto;
        margin-bottom: var(--size-06);
    }

    .contact-page .container {
        flex-direction: column;
    }

    .contact-left {
        text-align: center;
    }
}